# APPLICATION
PORT=3000
NODE_ENV=local

# CLIENT
BASE_URL_CLIENT=

# DATABASE
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_SSL=

# MAIL
MAIL_HOST=
MAIL_PORT=
MAIL_FROM=
MAIL_USERNAME=
MAIL_PASSWORD=

# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_PASSWORD_RESET_SECRET=